/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(40,116,240);
  padding: 12px 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* logo */

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* search bar */

.navbar-search {
  display: flex;
  width: 45%;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.navbar-search input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.navbar-search button {
  width: 50px;
  border: none;
  background: #ff9f00;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* right menu */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* nav items */

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.nav-item:hover {
  color: #ffd700;
}

/* login dropdown */

.login-dropdown {
  position: relative;
}

/* dropdown menu */

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;

  width: 190px;
  margin-top: 5px;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);

  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;

  overflow: hidden;
  z-index: 100;
}

/* menu items */

.dropdown-menu a {
  padding: 12px 15px;
  text-decoration: none;
  color: rgb(40,40,40);
  font-size: 14px;
  transition: all 0.25s ease;
}

.dropdown-menu a:hover {
  background: linear-gradient(
    90deg,
    rgb(99,102,241),
    rgb(147,51,234)
  );
  color: white;
}
.login-link {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color: rgb(40,40,40);
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.25s ease;
}

/* hover effect */
.login-link:hover {
  background: linear-gradient(
    90deg,
    rgb(99,102,241),
    rgb(147,51,234)
  );
  color: white;
}